@CHARSET "US-ASCII";

html, body, #map-canvas {
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	background-color: #151515;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	line-height: 25px;
	height: 100%;
}

h3 {
	text-align: center;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	color: white;
	background-color: #363636;
	margin-top: -10px;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#authorize-button {
	background-color: #1AC870;
	color: #FFF;
	border: none;
	padding: 40px 70px;
	font-family: "Raleway",Helvetica,Arial,sans-serif;
	font-weight: bold;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#map-canvas {
    width: 200px;
    height: 200px;
    float : left;
    background-color: #CCC;
}

#content {
	display: none; /* before login */
}

#menu {
	width: 62%;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 2px;
}

#wrapper {
	
}

#left-left{
	width : 20%;
	float : left;
		
}

#left {
	width: 20%;
	float: right;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	color: white;
	font-size: 25px;
	line-height: 25px;
	min-height: 400px;
	_height: 400px;
}

#right {
	width: 60%;
	float: right;
	height: 100%;
	display: block;
	background-color: white;
}

h1 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	text-align: center;
	background-color: #1AC870;
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	font-size: 50px;
	line-height: 70px;
}

#account_info {
	text-align: center;
}

.acc_inf {
	text-align: center;
}

.chat_wrapper {
	height: auto;
	width: 100%;
	display: inline-block;
}

.userlist_wrapper {
	height: 90px;
	cursor: pointer;
}

.left_chat {
	float: left;
	width: 70px;
}

.right_chat {
	margin-left: 70px;
	padding-top: 10px;
}

.right_chat .from, .right_chat .name {
	color: #27CC7D;
	font-weight: bold;
	font-size: 18px;
}

.userId {
	display: none;
}

#chatArea {
	height: 300px;
	border: solid #aaa 1px;
	overflow: auto;
}

.msg, .email {
	color: #B7B7B7;
	font-size: 20px;
	display: block;
	word-wrap: break-word;
}

.profile_img {
	margin: 10px;
	width: 50px;
	height: 50px;
	float: left;
}

#signinButton {
	margin: 100px;
	text-align: center;
}

#signinButton button {
	padding: 1em;
	font-size: 2em;
}

#contacts .name {
	color: white;
	font-size: 18px;
}

#contacts .lastMsg {
	color: #808080;
	font-size: 15px;
}

#contacts .userId {
	/* display:none; */
	color: #808080;
	font-size: 15px;
}

#contacts td {
	padding: 0px 15px;
	width: 300px;
	cursor: pointer;
}

#contacts tr {
	height: 80px;
	background-color: #464646;
	margin: 2px;
}

#contacts tr:hover, #contacts tr.selected {
	background: #373737;
	width: 300px;
	border-right: 3px solid #27CC7D;
}

nav {
	display: table;
	width: 800px;
	background: #151515;
	padding: 5px 0px;
	font-size: 18px;
}

nav ul {
	display: table-row;
}

nav li {
	display: table-cell;
	color: white;
	text-align: center;
	cursor: pointer;
	padding: 5px;
}

nav li:hover {
	background: #363636;
}

#newMessageString {
	height: 100px;
	width: 400px;
}

#newMessageString {
	height: 100px;
	width: 90%;
	padding: 1% 5%;
	margin: 0px;
	border: none;
	color: #B7B7B7;
	font-size: 20px;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

#sendButton {
	display: none;
}

form {
	margin: 0px;
}
